<div class="container">
  <div class="form__group">
    <label class="form__label" for="name">Zadajte IČO: </label>
    <input class="form__field" id="ico" type="text" [formControl]="ico" />
    <div *ngIf="ico.invalid && (ico.dirty || ico.touched)" class="alert alert-danger">
      <div *ngIf="ico.errors?.['required']">IČO musí byť vyplnené</div>
      <div *ngIf="ico.errors?.['minlength']">Musí obsahovať aspon 8 číslic</div>
      <div *ngIf="ico.errors?.['pattern']">IČO nesmie obsahovať iné znaky ako čísla</div>
    </div>
    <div
      class="button"
      [ngClass]="loading ? 'button__loading' : ''"
      [class.isDisabled]="!ico.valid"
      (click)="vyhladatPartnerovVS()"
    ></div>
  </div>
</div>
